html{
    font-size: 20px;
}

body{
    padding: 0;
    margin:0;
}


nav{
    height:60px;
    background-color:#A1B57D;
    margin: 0;
    padding: 0;
}
nav ul{
    text-decoration: none;
    margin-top: 0;
    padding: 0;

}

nav ul li{
    display: inline-block;
    padding: 0px 10px; 
    margin:10px 10px;   
}

nav ul li a{
    text-decoration: none;
    color: #19282F;
    font-size: 30px;
    font-weight: bolder;
    font-family:roboto;
}

ul li a:hover{
    color:#B33030
}

 @media screen and (max-width:1200px){
    nav{
        height: 60px;
        align-items: center;
        justify-content: center;
    }

    nav ul li{
        margin: 5px 10px;
    }
    nav ul li a{
        font-size: 4rem;
    }
}

.title{
    margin-top: 100px;
    width: 50%;
}

.title h1{
    color: #a1b57d;
    font-size: 4rem;
    margin:0px 20px ;
    z-index: -1;
    display: block; 

}

.title h2{
    color:#19282F;
    font-family:comic neue;
    font-weight:700;
    font-size: 3rem;
    margin:0px 20px 10px;
    display: block;
}

.title p{
    color: #19282F;
    font-family:comic neue;
    margin: 20px;  
    margin-top: 0; 
    font-size: 25px;
}

.name{
    display:flex;
    align-items: center;
    
}

.name img{
margin-right: 0;
padding-right: 0;
align-items: center;
}

.title a{
    color:#B33030;
}

@media screen and (max-width:1200px){

    .name img{
        height: 500px;
        z-index: -1;
    } 

    .title h2{
        font-size: 3.5rem;}
    
    
} 

.about{
    display:flex;
    align-items: center;
    margin-top: 5rem;
    justify-content: center;

}

.text{
    justify-content: center;
    width:45%;
    float: right;
    text-align: center;
}

.photo{
    width:45%;
}

.about div h2{
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
}

.text p{
    font-size: 25px;
    font-family:comic neue;

}

.text p a{
    color: #B33030;
    font-weight: bolder;
    font-size: 1.5rem;
}

@media screen and (max-width:1200px){

    .about img{
        height:600px;
    }

    .about{
        margin: 10rem 0;
        }
    
        .about div h2{
            font-size: 5rem;}
    
        .text p a{
            color: #B33030;
            font-weight: bolder;
            font-size: 3rem;
            text-decoration: none;
        }
  
} 

.services{
    margin: 4rem 2rem;
}
.services h2{
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
}
.container{
    display: grid;
    grid-template-columns:repeat(3,30%);
    grid-template-rows:repeat(2,auto) ;
    gap:1rem;
    justify-content: center;
    margin: 2rem 0; 

}

.project{
    border:2px solid #19282F;
    border-radius: 40px;
    text-align: center;
    background-color: #A1B57D;
    padding: 2rem;
}

.project h4 a{
    text-decoration: none;
    border:2px solid #19282F;
    padding: 10px;
    border-radius: 40px;
    color: #19282F;
}

@media screen and (max-width:1200px){
    html{
        font-size: 10px;
    }
    .container{
        display:flex;
        flex-direction:column ;
        gap:4rem;
        width: fit-content;
        align-items: center;
        text-align: center;
    }

    .project{
        padding:2rem;
        margin:0;
    }

    .project img{
        height: 475px;
        margin:1rem;
        padding: 2.5rem;
    }

    .project h3{
        font-size: 5rem;
        font-weight: bolder;
        margin-bottom: 2rem;
    }

    .project h4 a{
        padding: 2rem ;
        border-radius: 40px;
        font-size: 4rem;
    }

    .project h4{
        margin-bottom: 2rem;
    }


}

.footer{
    height: 200px;
    background-color: #A1B57D;
    padding: 1.5rem;
    font-family:comic neue ;
}

.footer ul {
    list-style-type: none;
    margin: 0;
}

.footer h4{
    font-family: chewy;
    font-size: 2rem;
    margin: 1rem 0;
}

.footer ul li{
    border: 2px solid #19282F;
    width: 40%;
    background-color:aliceblue;
    gap: 1rem;
    margin: 10px;

}

.footer img{
float: right;
margin-right: 20px;
margin-top: 5px;
}

.footer ul li a{
    text-decoration: none;
margin:0 10px ;
font-size: 25px;
color: #19282F;
}


@media screen and (max-width:1200px){

    .footer h4{
        font-family: roboto;
        font-size: 5rem;
        margin: 1.5rem ;
    }
    
    .footer ul li{
        border: 2px solid #19282F;
        width: 50%;
        background-color:aliceblue;
        gap: 1rem;
        margin: 10px;
    
    }
    
    .footer img{
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    }
    
    .footer ul li a{
        text-decoration: none;
    margin:1rem;
    padding: 1rem;
    font-size: 3.5rem;
    color: #19282F;
    }
    
} 
